.gradle/
local.properties
**/build/
*.iml
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
node_modules/
dist/
coverage/
out/
*.bundle.js
*.log
*.tmp
*.bak
*.bak.*
.env
.env.*
*.code-workspace
*.tsbuildinfo
.devserver.log
